{% extends "base.html" %}

{% block content %}
  <!-- Modal HTML embedded directly into document -->
  <div id="update-email-modal" class="modal">

    <form action="{% url 'userManager:user' user.pk %}" id="change-email-form" method="post" class="form">
      {% csrf_token %}
      <label for="email">Nouvelle email:</label>
      <input type="text" id="email" name="email" required>
    </form>
    <button type="submit" form="change-email-form" value="Submit" class="btn btn-primary">Submit</button>
      <a href="#" rel="modal:close">Close</a>
  </div>

<div class="container">
  <h1>Bienvenue!</h1>
  <h1>Informations du compte</h1>
  <p>e-mail: {{user.email}}</p>

  <!-- Link to open the modal -->
  <p><a href="#update-email-modal" rel="modal:open">Editez</a></p>
</div>
{% endblock %}
