{% extends "base.html" %}

{% block content %}
<div class="container">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1>Connexion</h1>
        </div>
        <div class="panel-body">
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <form action="{% url 'authentication:login' %}" id="login-form" method="post">
            {% csrf_token %}

            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </span>
                <input class="form-control" type="email" id="email" name="email" required placeholder="E-mail">
            </div>

            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                </span>
                <input class="form-control" type="password" id="password" name="password" required placeholder="Mot de passe">
            </div>

        </form>
        <div class="btn-in-panel">
            <button type="submit" form="login-form" value="Submit" class="btn btn-primary">Se connecter</button>
        </div>
    </div>
    <div class="panel-footer">
        <p>Pas encore de compte? <a href="{% url 'authentication:register'%}">Inscrivez-vous dès maintenant!</a></p>
    </div>
    </div>
</div>
{% endblock %}
