body {
  background-color: #f0f0f0;
}

.panel {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 400px;
}

.input-group {
  margin: 20px;
}

.btn-in-panel {
  display: flex;
  justify-content: center;
}
