{% extends "base.html" %}

{% block content %}
<div class="container">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1>Inscription</h1>
        </div>
        <div class="panel-body">
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <form action="{% url 'authentication:register' %}" id="register-form" method="post">
            {% csrf_token %}

            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </span>
                <input class="form-control" type="email" id="email" name="email" required placeholder="E-mail">
            </div>

            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                </span>
                <input class="form-control" type="password" id="password" name="password" required placeholder="Mot de passe">
            </div>

        </form>
        <div class="btn-in-panel">
            <button type="submit" form="register-form" value="Submit" class="btn btn-primary">S'inscrire</button>
        </div>
    </div>
    <div class="panel-footer">
        <p>Déjà un compte? <a href="{% url 'authentication:login'%}">Connectez-vous!</a></p>
    </div>
    </div>
</div>
{% endblock %}
